@use "../../settings/scss/functions.scss";
.modal__overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    @include functions.flex(center);
}
.modal{
    width: 30%;
    background: #fff;
    border-radius: 10px;
    position: relative;
}
.modal__header{
    padding: 0.5rem;
    @include functions.flex(center);
    position: relative;
}
.modal__close{
    background: crimson;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 20px;
    padding: 0 0.5rem;
    border-top-right-radius: 10px;
}
.modal__body{
    padding: 0.5rem;
}
.modal__body form{
    width: 70%;
    margin: 0 auto;
}
.modal__body form button{
    margin-top: 1rem;
}
.modal--black{
    background: #242526 !important;
}
.modal_header--active{
    flex-direction: column;
}
.modal_header--active *{
    margin: 0;
    padding: 0;
}
.modal_header--active h3{
    padding: 1rem 0rem;
    padding-bottom: 0.5rem;
    font-size: 23px;
    font-weight: 400;
}
.modal_header--active p{
    color: #babdc3;
}
.modal_discription__box{
    width: 90%;
    margin: 0 auto;
}
.modal__body button{
     padding: 0.5rem ;
}
.modal__body .modal__btn_box{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.modal__btn_box button{
    width: 100%;
    margin: 0.5rem 0rem;
    padding: 0.7rem 0rem;
    background: transparent;
    font-size: 17px;
}
.modal__btn_box button:nth-child(1){
    color: crimson;   
    border-top: 1px solid #babdc360;
    border-bottom: 1px solid #babdc360; 

}