@use "../../settings/scss/functions.scss";
.instagram__footer{ 
    width: 100%;
}
.footer__inner{
    width: 80% !important;
    margin: 0 auto;
    flex-basis: 100%
}
.footer__links{
    @include functions.flex(space-between);
    padding: 1rem 0rem;
    list-style: none;
}
.footer__links li:not(:last-child){
    margin-right: 0.5rem;
}
.footer__links li a{
    text-decoration: none;
    font-size: 13px;
    color: grey;
}
.footer__bottom{
    @include functions.flex(center);
}
.footer__bottom select{
    margin-right: 1rem;
    background: transparent;
    color: grey;
}
.footer__bottom p{
    font-size: 13px;
    color: grey;
}
.footer__links li a:hover{
    text-decoration: underline;
}